name: Build OpenAppFilter for MediaTek Filogic

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout OAF Source
      uses: actions/checkout@v6.0.2
      with:
        repository: destan19/OpenAppFilter
        path: luci-app-oaf

    - name: Setup OpenWRT SDK
      run: |
        wget https://downloads.openwrt.org/releases/25.12.0-rc2/targets/mediatek/filogic/openwrt-sdk-25.12.0-rc2-mediatek-filogic_gcc-14.3.0_musl.Linux-x86_64.tar.zst
        tar -xf openwrt-sdk-25.12.0-rc2-mediatek-filogic_gcc-14.3.0_musl.Linux-x86_64.tar.zst
        mv openwrt-sdk-25.12.0-rc2-mediatek-filogic_gcc-14.3.0_musl.Linux-x86_64 openwrt-sdk

    - name: Install Dependencies
      run: |
        sudo apt-get install -y build-essential libnl-3-dev libnl-genl-3-dev flex bison

    - name: Configure Build
      run: |
        ls -l
        ls luci-app-oaf -l
        cd openwrt-sdk
        # 添加 OAF 源码到 SDK
        mkdir -p package/luci-app-oaf
        mkdir -p package/kmod-oaf
        cp -r ../luci-app-oaf/* package/luci-app-oaf/
        cp package/luci-app-oaf/oaf/* package/kmof-oaf/
        ls -l package/luci-app-oaf/
        
        # 更新 feeds 并安装依赖
        ./scripts/feeds update -a
        ./scripts/feeds install -a

        # 生成编译配置
        echo "CONFIG_PACKAGE_kmod-oaf=y" >> .config
        echo "CONFIG_PACKAGE_luci-app-oaf=y" >> .config
        echo "CONFIG_PACKAGE_open-app-filter=y" >> .config

    - name: Compile Packages
      run: |
        cd openwrt-sdk
        # 编译内核模块
        make package/kmod-oaf/compile V=s
        # 编译服务端
        make package/open-app-filter/compile V=s
        # 编译 Luci 界面
        make package/luci-app-oaf/compile V=s

    - name: Collect Artifacts
      run: |
        mkdir -p openwrt-sdk/output
        find bin/packages -name "*.apk" -exec cp {} openwrt-sdk/output \;
        find bin/targets -name "*.apk" -exec cp {} openwrt-sdk/output \;

    - name: Upload Packages
      uses: actions/upload-artifact@v6.0.0
      with:
        name: oaf-packages
        path: openwrt-sdk/output/*.apk
